.footbody{
    background-color: #FF5D3B;
}
.foottext{
    font-family: sans-serif;
}
.foottextb{
    font-family: sans-serif;
    font-size: 2rem;
}
.clip-form{
    border:0.01px solid #FF5D3B;
    border-radius: 5px;
    width:500px;
}
.foottexte{
    font-size:2rem;
}
.footextc{
    font-size:1rem;
}