.headImg{
    overflow:hidden;
    background-color: #FF5D3B;
}
.intext{
    font-size:1.5rem;
}
h1{
    font-size: 3.5rem;
}
.fa-chevron-circle-down{
    font-size:2.3rem;
    color:black;
}
.fa-chevron-circle-down:hover{
    color:white;
}
.headflex{
    padding-top:1rem;
    padding-bottom:1rem;
    display:flex;
    flex:1;
    margin-left:6rem;
    justify-content: start;
    align-items: center;
}
.headflextext{
    margin-left:10px;
    font-size:1.5rem;
}
